<!DOCTYPE html>
@model List<CodeNight.Urun>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Ne Lazim</title>
    <!-- Bootstrap core CSS -->
    <!-- Custom styles for this template -->
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <!-- N avigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" im href="index">
                <img src="~/image/logo5.png" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index">
                            Keşfet
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="profil">Profil</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="urunekle">Ürün Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/NeLazim/Login">Çıkış Yap</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br> <br>
    <br /><br />
    <!-- Page Content -->
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <h1 class="my-4">Kategori</h1>
                <div class="list-group">
                    <a href="#" class="list-group-item">

                        <img src="~/image/Tasit2.png" /> Araba
                    </a>
                    <a href="#" class="list-group-item">

                        <img src="~/image/Elektronik.png" /> Elektronik
                    </a>
                    <a href="#" class="list-group-item">

                        <img src="~/image/Emlak.png" />Emlak
                    </a>
                    <a href="#" class="list-group-item">

                        <img src="~/image/Giyim.png" /> Giyim
                    </a>
                </div>
            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-9">
                
                <div class="row">
                    @foreach (var i in Model)
                    {
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a href="UrunDetay/@i.urunID"><img class="card-img-top" src="@i.fotolink" alt="" height="350" width="700"></a>
                                <div class="card-body">
                                    <h4 class="card-title">

                                        <a href="UrunDetay/@i.urunID">@i.urunAd</a>
                                    </h4>
                                    <h5>@i.fiyat ₺</h5>

                                    <p class="card-text">@i.urunAciklama</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                
                <!-- /.row -->
            </div>
            <!-- /.col-lg-9 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
        </div>
        <!-- /.container -->
    </footer>

</body>
</html>
